body {
    margin: 0px;
}

.navbar-box {
    background-color: #0398dc;
    width: 100%;
    height: 300px;
}

.navbar-bottom-line {
    background-color: #f4bc1c;
    width: 100%;
    height: 20px;
}

.navbar-menu-box {
    background-color: #efefef;
    height: 75px;
}